<launch>   
    <arg name="default_utm_zone" default="33N" />

    <rosparam file="$(find cuzk_tools)/config/geomap_colours.yaml" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="428333 5539106 0 0 0 0 utm utm_local" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_utm_local_fake" args="42202 -29073 0 0 0 0 utm_local base_link_fake" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cuzk_tools)/rviz/new_topography_vis.rviz" output="screen">
    </node>

    <node pkg="cuzk_tools" type="topography" name="topography" output="screen">    
        <param name="default_utm_zone" type="string" value="$(arg default_utm_zone)"/>
    </node>


    <!-- <node pkg="cuzk_tools" type="geomap_interpreter" name="geomap_interpreter" output="screen">
    </node> -->

    <node pkg="cuzk_tools" type="elevation" name="elevation" output="screen">
        <param name="default_utm_zone" type="string" value="$(arg default_utm_zone)"/>
    </node>

    <node pkg="cuzk_tools" type="viz_map" name="viz_map" output="screen">
    </node>
</launch>    

<!-- overit offline ze nehazi errory, script na download, ukladat do /home/.ros/cuzk_data, vizualizace - yaml config, jak obarvovat; common launch file; interpreter jako py script-->