<launch>   
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cuzk_tools)/rviz/new_topography_vis.rviz" output="screen">
    </node>

    <node pkg="cuzk_tools" type="topography" name="topography" output="screen">
    </node>

    <node pkg="cuzk_tools" type="viz_map" name="viz_map" output="screen">
    </node>
</launch>    